@import '../../styles/variables';

div.cart-item {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  display: flex;
  button {
    margin: 0 10px;
  }
}

.cart-product {
  display: flex;
  figure {
    margin:20px;
    flex-basis: 200px;
    img {
      width: 100%;
      height: auto;
    }
  }
  button:first-child {
    margin-left: 0;
  }
  .cart-btn {
    background-color: $lightGreen;
    color: $white;
    padding: 1px 10px;
  }
  .delete {
    padding: 5px 10px;
    font-size: 12px;
  }
}