@import 'variables';

.active-categories {
  list-style-type: none;
  padding: 0;
  ul {
    list-style-type: none;
  }
  li {
    .major-category {
      font-weight: 600;
    }
    button {
      margin: 5px 0;
      padding: 0;
      color: $primary;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1rem;
      text-transform: capitalize;
    }
    & > ul {
      padding: 0;
      padding-left: 10px;
      li {
        button {
          font-size: 0.9rem;
        }
      }
      & > ul {
        padding: 0;
        padding-left: 10px;
      }
    }
  }
}
